label.vfb-desc {
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0 0 3px 0;
    color: #000;
    font-size: 13px; 
    line-height: inherit;
    font: normal normal normal 14px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif;
  }

#menu {
    background-color: transparent;
    padding: 6px 13.5px 7px;
    font: normal normal normal 20px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    border-radius: 4px;
    text-decoration: none;
    text-align: left;
    margin: 0;
    list-style: none;
    list-style-image: none;
    word-spacing: normal;
}

#menu li {
    display: inline;
}

.sub-nav {
    list-style: none;
    list-style-image: none;
    visibility: hidden;
    display: inline;
}